.loader
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0,0,0,.5);
}
.hidden
{
  display: none;
}
img
{
  box-shadow: 0.5em 1em 1em rgb(10 10 10);
}
.nav__logo
{
  box-shadow: none;
}

.container.error
{
  background-color: #282c2d;
  margin: 10px 0;
  padding: 10px;
  color: #e50914;
  border-radius: 3px;
  box-shadow:  0 0 2px rgb(212 201 201 / 95%);
}