.movie-details.container
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 70px;
    padding-top: 50px;
    align-items: flex-start;
}
.img-details
{
    width: 30%;
}
.img-details img
{
    width: 100%;
    box-shadow: 0.5em 1em 1em rgb(10 10 10);
    border-radius: 20px;
    object-fit: cover;
}
.movie-info
{
    width: 65%;
    color: #fff;
}
.movie-info > * 
{
    border-bottom: 1px solid  #1c1b1b;
    padding: 15px 0;
}
.movie-info > * 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-info > * span:first-of-type,
.movie-info >  * b
{
    margin-right: 15px;
}
.geners
{
    justify-content: flex-start;
    gap: 15px;
}
.geners button
{
    outline: none;
    border: none;
    background-color: #e50914;
    color: #fff;
    padding: 7px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.geners button span
{
    margin-right: 5px !important;
    animation: point 1s ease-in-out alternate-reverse infinite;
    position: relative;
}
@keyframes point
{
    0%{
        right: 0;
    }
    100%
    {
        right: 5px;
    }
}
.actors
{
    display: flex;
    gap: 20px 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.actors > h4
{
    width: 100%;
}
.actors .actor
{
    cursor: pointer;
}
.actors .actor img
{
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
.actor h5,
.actor h6
{
    max-width: 100px;
}
.actor .text-light
{
    color: #757575;
}
.actor-movies-title
{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 5px;
}
.actor-movies.container
{
    margin-top: 30px;
}
.keen-slider__slide
{
    display: flex;
    height: 300px;
    padding: 15px ;
    border-radius: 5px;
    cursor: pointer;
}
.number-slide
{
    
    background: rgb(229, 9, 20);
  background: linear-gradient(
    128deg,
    rgba(255, 63, 63, 1) 0%
    rgba(229, 9,20, .5) 50%
  );
}
.keen-slider__slide img
{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.img-details{
    position: relative;
    overflow: hidden;
}
.img-details:hover .player
{
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.player
{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0,0,.5);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0);
    
    transform-origin:  left;
}
.player img
{
    width: 96px;
    height: 96px;
    animation:  player 2s ease-in-out infinite alternate-reverse;
    box-shadow: none;
}
@keyframes player
{
    0%
    {
        transform: scale(.90);
    }
    100%
    {
        transform: scale(1);
    }
}
.ReactModal__Overlay
{
    z-index: 99999;
    background-color: rgba(28, 27, 27,.65) !important;
    color: #fff;

}
.ReactModal__Content 
{
    background-color: #1c1b1b !important;
    border-color: #1c1b1b !important;
    transform: translateY(-100%);
    padding: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ReactModal__Content--after-open
{
    transform: translateY(0);

        transition: transform .5s ease-in-out   ;
}
.close-modal-btn
{
    position: absolute;
    top: 1px;
    width: 38px;
    right: 1px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
    background: #1c1b1b;
    box-shadow: 0 0 2px rgb(120 120 120 / 65%);
}
.ReactModal__Content  p
{
    font-size: 1.5rem;
}
.youtube-video
{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width :768px) {
    .movie-details.container .img-details
    {
        width: 95%;
        max-height: 600px;
    }
    .movie-details.container .movie-info
    {
        width: 100%;
    }
}
@media (max-width:776px) {
    .ReactModal__Content
    {
        inset: 10px !important;
        padding: 20px !important;
    }
    
}